ul {
    list-style-type: none;
    width: max-content;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 27, 27);
    opacity: 1;
    overflow: hidden;
}
body
{
    background-color: rgb(249, 40, 44);
    background-image: url(./site/parteadoi/images/pattern.png); 
    color: whitesmoke;
}
/*
li
{
    float left;
}
*/

li a {
    display: block;
    color: #ffffff;
    padding: 16px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

footer{
    font-weight: bold;
    font-size: 20;
    font-family: Helvetica;
}

.video{
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}