body {
    font-family: 'Comic Neue', 'Comic Sans MS', 'Comic Sans', cursive;
    background-color: #37ea82d2;
}
header
{
    text-align: center;
}
#menu
{
    margin-left: auto; 
    margin-right: auto;
    background-color: rgb(0, 0, 0);
    display: block;
    color: #ffffff;
    padding: 16px 16px;
    text-decoration: none;
    text-align: center;
}
#menu:hover
{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
aside {
  width: 20%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
 
}
aside img {
    border: 5px solid black;    
    border-radius: 12px;           
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
}
